<div class='text-left'>
  <h1>ユーザー一覧</h1>
</div>


<ul class='list-unstyled'>
  <% users.each do |user| %>
   <li class='media'>
     <div class='container'>
       <div class='row'>
         <div class='col-xs-6 col-sm-4 col-md-3 col-lg-2'>
           <div class='card mt-1 border-bottom border-top'>
             <%= image_tag user.img.to_s,class:'img-fluid',src:'' %>
             <div class='card-body m-0 p-0 border-top text-center'>
               <%= user.name %>
               </table>
             </div>
           </div>
         </div>
       </div>
     </div>
   </li>
  <% end %>
</ul>