<br>
<br>
<br>
<br>
<br>
<br>
<br>

<body class='main-img'>
  
</body>
<div class="title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-7 col-sm-12 text-center">
            <div class="brand">
              <h1 class='main_font text-light'>お店に動画広告をPlus</h1>
              <br>
              <h3 class='text-light'>お店とクリエーターをつなぐ<br>動画制作マッチングアプリ</h3>
              <br>
              <%= link_to '新規登録', signup_path, class: 'btn btn-block btn-light' %>
            </div>
          </div>
        </div>
      </div>
</div>
<div class=''>
  
</div>