<div class='story-title'>
    <div class='container'>
        <h3>VideoPlusについて</h3>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <br>
            <h3 class='text-center' style='font-weight: bold;'>個人店舗は集客するのが難しい?</h3>
            <h6 class='story-paragraph'>あなたはこんな悩みを持ったことはありませんか？
            <br>
            </h6>
            <h6>
                <i class="fas fa-check-circle"></i>
                グルメサイトに掲載して集客したいけど、莫大なコストがかかってしまう。
            </h6>
            <h6>
                <i class="fas fa-check-circle"></i>
                チラシ広告を出しているのにお客さんがあまり増えない。
            </h6>
            <h6>
                <i class="fas fa-check-circle"></i>
                クーポンやサービスもたくさんあるのにリピーターが増えない。
            </h6>
            <h5 class='story-paragraph text-center' style= 'font-weight: bold; text-decoration: underline;'>
                その原因はあなたがユーザーの気持ちになって考えられていないからです。
            </h5>
            <br>
            <h6 class='story-paragraph'>
                実は私の実家の飲食店がそうでした。
                <br>
                少しだけ私のお話しをしますと、
                <br>
                実家が飲食店を経営しており、それは30年近く同じ場所で営業していました。
                <br>
                私が小さい頃は毎日、お店に列ができていました。
                <br>
                しかし、都市開発やインターネットの普及により、
                <br>
                あらゆるお店にお客さんが分散しはじめました。
                <br>
                大手の飲食店はグルメサイトやSNSを活用して集客をする一方で
                <br>
                これまでは口コミや雑誌などでしか集客してこなかった個人店舗は
                <br>
                集客にかなり苦労するようになりました。
            </h6>
            <br>
            <br>
            <h3 class='text-center' style='font-weight: bold;'>
                お店と動画クリエーターをつなぐマッチングアプリ『VideoPlus』
            </h3>
            <h6 class='story-paragraph'>
                グルメサイトはシステム上、お金をかければかけるほど上位に掲載されます。<br>
                つまり、オークションマーケティングです。<br>
                個人店舗が大手飲食店に資金力で勝負するのは不可能です。<br>
                なので個人店舗は資金力ではなく<strong style='text-decoration: underline;'>SNSを活用したクオリティで勝負する必要があります。</strong><br>
                しかしながら、今までチラシで集客していた人がSNSを活用するのはかなりのハードルであり、
            　　<br>
                それを実家の店舗は活用できずにいました。
            　　<br>
                そんなときに旅行に行っては撮影をして自分で編集し、それをSNSでシェアしていた私は、
            　　<br>
                お店の動画を作成することを思いつきました。
                <br>
                動画は写真よりも情報量が5000倍あると言われており、<br>
                短時間でより多くの情報をユーザーに届けることができます。<br>
                SNSを導入してからは、それをみて来たという人が増え、もっと多くの個人店舗がSNSの活用ができるように<br>
                『VideoPlus』は開発されました。
            </h6>
            <h3 class='text-center' style='font-weight: bold;'>
                あらゆるジャンルの動画クリエーターが登録
            </h3>
            <h6 class='story-paragraph'>
                飲食店以外にもパーソナルトレーナーや、ヨガ講師なども個人で集客する必要があります。<br>
                そこでクリエーターは自身が得意とするジャンルや、ポートフォリオを登録することで、<br>
                ミスマッチが起こることなく、繋がることができます。
                <br>
            </h6>
            <br>
            <br>
            <h5 class='story-paragraph text-center' style='font-weight: bold;'>
                あなたのお店にビデオ広告を追加しませんか？<br>
                VideoPlusはあなたにとって最適な動画を作成できるクリエーターを紹介します。<br>
                さぁ、はじめよう。
            </h5>
            <div class="register-section text-center">
              <%= link_to '登録する', signup_path, class: 'btn btn-info' %>
            </div>
        </div>
    </div>
</div>