<br>
<div class='text-left'>
    <h2>使用機材</h2>
</div>

<table class='table table-striped'>
    <tr>
        <th class='text-left'>カメラ</th>
        <td><%= user.camera %></td>
    </tr>
    <tr>
        <th class='text-left'>レンズ</th>
        <td><%= user.lens %></td>
    </tr>
    <tr>
        <th class='text-left'>編集ソフト</th>
        <td><%= user.app %></td>
    </tr>
    
</table>